.ultimos-posts{

  width: 85%;

  display: flex;
  align-items: center;
  flex-direction: column;

}

.ultimos-posts p{

  padding:5px;
  font-size:13px;
  align-self:flex-start;

  font-weight: bold;
  width: max-content;
}

.ultimos-posts ul{
  width: 100%;

  padding: 0;
  display: flex;
  list-style: none; 
  align-self: flex-start;
  flex-direction: column; 

}

.ultimos-posts ul li a{

  width:80%;
  margin:5px;
  padding:5px;
  cursor:pointer;
  color:#3563a3;

  transition: all 0.1s ease 0.1s;

}

.ultimos-posts ul li a:hover{
   color:var(--primary);
}

.ultimos-posts > a{

  margin-top:12px;
  margin-bottom:10px;
  padding:5px;
  font-weight: bold;
  color:black;
  text-decoration: none;

  border-radius: 5px;

  border:1px solid #c9c9c9;
  font-size: clamp(0.625rem, 0.5529rem + 0.3846vw, 0.8125rem); 

  transition: all 0.1s ease 0.1s;
}

.ultimos-posts > a:hover{

  color:var(--primary);
  background:#c4c4c4;
}

.lista-posts ul{
    
    width: 100%;
    list-style: none;
    padding: 0; 
    margin:0;

    display: flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center;
    
}

.lista-posts ul li{
    
    width: 100%; 
    
    display: flex; 
    flex-direction: column; 
    background:#d3d2d0; 
    border: 0.5px dashed #000; 
    padding: 10px;
    margin-top:10px;
    margin-bottom: 20px;

}

.lista-posts li p:first-of-type{

    padding:5px;
    line-height: 1;
    background:#d3d2d0;
}

.lista-posts li p:nth-of-type(2){
    padding:5px;
    margin: 10px; 
    background:#d3d2d0; 
    font-size: clamp(0.625rem, 0.5529rem + 0.3846vw, 0.8125rem);
}

.lista-posts a{
    cursor:pointer;
    width: max-content; 
    color:var(--primary);
    text-decoration: none;
}

.lista-posts a p{
    margin: 0;
    font-weight: bold;
    font-size: clamp(0.75rem, 0.5096rem + 1.2821vw, 1.375rem); 
}

.lista-posts a:nth-of-type(2){

    cursor: pointer; 
    color:var(--primary);
    background:#d3d2d0;
    text-decoration: none;
   
}

.lista-posts a:nth-of-type(2) button{
    
    padding:8px;
    border:none;
    cursor: pointer;
    border-radius: 3px;
    border:1px solid #c9c9c9;
    text-decoration: underline;
    font-size: clamp(0.625rem, 0.5529rem + 0.3846vw, 0.8125rem); 
   

    transition: all 0.1s ease 0.1s;

}

.lista-posts a:nth-of-type(2) button:hover{
    color:black;
    background:#c4c4c4;
}

.contenedor-banner{
    display:flex; 
    flex-direction:row;
    place-content: center;
}

.contenedor-banner img{
    height: auto;
    width: clamp(10%, 20%, 35%);
}