@font-face {
        font-family: 'FinSerif';
        src: url('../font/FinSerifDisplay-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}