@import url("reset.css");
@import url("fonts.css");
@import url("root.css");
@import url("class.css");

* {

  margin: 0;
  padding: 0;

  font-family:Verdana, sans-serif;

}

body{

  display: grid;
  min-height: 100dvh;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  background-size: 20px 20px;
  background-color: #e5e7eb;
  background-image: radial-gradient(var(--bg-box) 1px, transparent 1px);

}

header h1{
  margin-top:20%;
  font-weight:800;
  margin-left:20px;
  font-family:var(--font-secundary);
}

header p{
  font-size:18px;
  margin-left:20px;
}

main{

  width: 50%;

  display: flex;
  place-items: center;
  flex-direction: column;

}

footer{
  width: 100%;
  height: 60px;
  display: flex; 
  color: white;
  align-items: center; 
  justify-content: center;
  background: #1a1a1a;
}

footer p{
  background: #1a1a1a;
}

@media (max-width: 768px) {
    main{
    width: 70%;
  }
}