{{define "base"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{block "title" .}}
             {{ .Title }}
            {{end}}
    </title>
    
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="icon" type="image/x-icon" href="{{ .BaseURL }}/assets/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{{ .BaseURL }}/style/index.css">
</head>
<body>
    {{ template "content" .}}
</body>
</html>
{{end}}