{{define "title"}} Yamblg | {{ .Post.Title }} {{end}}
{{define "content"}}
<section class="blog-container">
  <a class="link-back" href="{{ .BaseURL }}">← Volver al inicio</a>

  <article class="post-card">
    <header>
      <h1 class="post-title">{{ .Post.Title }}</h1>
      <p class="post-meta">
        <em>Publicado por <strong>{{ .Post.Author }}</strong> • {{ .Post.Date }}</em>
      </p>
    </header>

    <div class="post-body">
      {{ .Post.ContentBody }}
    </div>
  </article>
</section>
{{ end }}