{{define "mainContent"}}

<section class="ultimos-posts">
        <p>Últimos 5 posteos</p>
        <ul>
            {{ range .Latest }}
                    <li><a href="{{ $.BaseURL }}/{{ .Link }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
            <a href="{{ $.BaseURL }}/lista-de-posteos">Ver todos los posteos</a>
</section>

<section class="lista-posts">
    <ul>
        {{ range .Posts }}
            {{ if .Fijado }}
        <li>
        <p>📌</p>

        <a href="{{ $.BaseURL }}/{{ .Link }}">
            <p>{{ .Title }}</p>
        </a>
        
        <p>{{ .Description }}</p>

        <a href="{{ $.BaseURL }}/{{ .Link }}">
             <button> Leer -></button>
        </a>
           
            <small style="display: block; background:#d3d2d0; padding:3px; text-align: center; margin-top: 12px; font-size: 13px; color: #666;">
                {{ .Author }} el {{ .Date }}
            </small>
        </li>
            {{ end }}
        {{ end }}
    </ul>
</section>
{{end}}