@font-face {
        font-family: 'FinSerif';
        src: url('../font/FinSerifDisplay-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'Sans';
        src: url('../font/PublicSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}


