{{define "title"}} Yamblg | Lista de posteos{{end}}

{{define "content"}}
{{template "banner" .}}
   <div class="table-container">
    <table class="custom-table">
        <thead>
            <tr>
                <th class="th-light">Título</th>
                <th class="th-dark">Fecha</th>
                <th class="th-light">Autor</th>
            </tr>
        </thead>
         
        <tbody>
            {{ range .Posts }}
            <tr>
                <td class="td-highlight">
                    <a class="table-link" href="{{ $.BaseURL }}/{{ .Link }}">{{ .Title }}</a>
                </td>
                <td class="td-standard">{{ .Date }}</td>
                <td class="td-highlight">{{ .Author }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{template "footer" .}}
{{end}}
