{{define "base"}}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamblg | Crea tu blog rápidamente</title>
    
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    <link rel="stylesheet" href="{{ .BaseURL }}/style/theme.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/assets/style.css"> 
</head>
<body>
    
    {{template "banner" .}}

    <main>
        {{template "content" .}}
    </main>

    <footer>
        <p>© 2026 - Hecho con ❤️ y Go</p>
    </footer>
</body>
</html>
{{end}}