name: Deploy Blog

on:
  push:
    branches: ["master"] # Se ejecuta cada vez que subes algo a la rama main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5 # Actualizado a v5
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: go mod download

      - name: Build site
        run: go run main.go

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3 # <--- ESTA ES LA CLAVE (v3 es la actual para Pages)
        with:
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # <--- Actualizado a v4